[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = ">=1.4.0"
ipykernel = ">=6.15.1"
matplotlib = ">=3.5.1"
python-dotenv = "*"
seaborn = "*"
scipy = "*"
notebook = "*"
plotly = "==5.10.0"
scikit-learn = "*"

[dev-packages]

[requires]
python_version = "3.11"
